Flask==1.0.2
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-Migrate==2.1.1
Flask-WTF==0.14.2
flask-restful
flask-jwt-extended
flask-debugtoolbar
flask-admin
Flask-Babel==0.11.1
Faker==0.8.13
numpy==1.16.3
pytesseract==0.2.6
python_docx==0.8.10
opencv_python==4.0.0.21
scipy==1.2.1
pdf2image==1.4.2
Pillow==6.0.0
docx==0.2.4
fitz==0.0.1.dev2
PyMuPDF
PySnooper==0.0.31