{% extends "layout.html" %}

{% block title %}<title> Annotation {{ data.pk }} </title>{% endblock %}
{% block css %}
  <meta name="viewport" content="user-scalable=no, width=device-width"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/annotate.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}"/>
{% endblock css %}

{% block content %}

  

  <div id="main-content" style="display: inline-block; width: 100%;">
    <div id="help-button">?</div>
    <div id="canWrap" class="canvasWrapper">
      <canvas id="imgCanvas" style="position: relative"></canvas>
    </div>
    <div id="rightBar">
      <div id="fieldList">
        <table id="detailTable" class="table table-bordered table-striped">
          <tbody>
            <tr><td width="70%"><b> Template No. </b></td><td id="pk"><b>{{ data.pk }}</b></td></tr>
            {% for key in data.classes.values() %}
              <tr class='field'>
                <td><b> {{ key|upper|replace_under_score }} </b></td>
                <td class="cor" id="{{ key }}"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="submit-button"><b> SUBMIT </b></div>
    </div>
  </div>
  
  <table id="existCor" class='exist' hidden>
    <tbody>
      {% for field in data.fields %}
        <tr>
          <td class='exist fName'>{{field.name}}</td>
          <td class='exist fX1'>{{field.x1}}</td>
          <td class='exist fY1'>{{field.y1}}</td>
          <td class='exist fX2'>{{field.x2}}</td>
          <td class='exist fY2'>{{field.y2}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

    
{% endblock content %}
{% block js %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/annotate_setup.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/annotate.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/upload_crop.js') }}" ></script> -->
{% endblock js %}
