<html>
    <head>
      <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
      <!-- x-editable (bootstrap version) -->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
      
      <!-- x-editable (bootstrap version) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css"/>
    
      <!-- toastr notification -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous"/>
    
      <link rel="stylesheet" href="{{ url_for('static', filename='css/doc_template.css') }}"/>
    </head>
    
    <body class="c20">
      <div class="layout">
        <!-- <img id=logo src="ONE_logo.svg" style="z-index: 10"> -->
        <div style="position:absolute;left:0px;top:0px">
          <img src="{{ url_for('static', filename='img/background1.jpg') }}"  width=595 height=841>
        </div>
    
        <div id="header_1">
          <div style="position:absolute;left:199.51px;top:21.71px" class="tittle_L">
            COPY NON NEGOTIABLE
          </div>
          <div style="position:absolute;left:516px;top:27.69px" class="page_no">PAGE: 1 OF 2
          </div>
          <div style="position:absolute;left:487px;top:38px" class="bill_type">SEA WAYBILL
          </div>
        </div>
    
        <div id='info_1'>
          <div style="position:absolute;left:343.94px;top:58.73px" class="tittle_M">BOOKING NO.</div>
          <div style="position:absolute;left:341.93px;top:65.98px" class="content_L" id="bkg_no" data-type="textarea">{{ data.doc.bkg_no }}</div>
    
          <div style="position:absolute;left:469.15px;top:58.73px" class="tittle_M">SEA WAYBILL NO.</div>
          <div style="position:absolute;left:468.15px;top:65.98px" class="content_L" id="bl_no">{% if data.doc.bkg_no %}ONEY{{ data.doc.bkg_no }}{% endif %}</div>
    
          <div style="position:absolute;left:32.04px;top:59.87px" class="tittle_M">SHIPPER/EXPORTER</div>
          <div style="position:absolute;left:30.02px;top:68.08px" class="content_L resize">
            <span style="white-space: pre-line" id="shipper">{{ data.doc.shipper }}</span>
          </div>
    
          <div style="position:absolute;left:32.04px;top:130.69px" class="tittle_M">CONSIGNEE</div>
          <div style="position:absolute;left:30.02px;top:139.85px" class="content_L">
              <span id="consignee" class="content_L resize" style="white-space: pre-line">{{ data.doc.consignee }}</span>
          </div>
    
          <div style="position:absolute;left:343.94px;top:80.48px;" class="content_L">
            <span id="also_notify" class="content_L" style="white-space: pre-line">{{ data.doc.also_notify }}</span>
          </div>
    
          <div style="position:absolute;left:343.94px;top:130.94px;" class="tittle_M">FORWARDING AGENT-REFERENCES (FMC NO.)</div>
          <div style="position:absolute;left:343.94px;top:143.48px" class="content_L">
            <span id="forwarding" class="content_L" style="white-space: pre-line"></span>
          </div>
        </div>
    
        <div class='declaration'>
          <div style="position:absolute;left:342.72px;top:173.94px" class="declaration_M">
              RECEIVED by the Carrier in apparent good order and condition (unless otherwise stated herein) the total
          </div>
          <div style="position:absolute;left:342.72px;top:179.62px" class="declaration_M">
            <span class="declaration_M">
              number or quantity of Containers or other packages or units indicated in the box entitled "Carrier's Receipt",
            </span>
          </div>
          <div style="position:absolute;left:342.72px;top:185.31px" class="declaration_M">
            <span class="declaration_M">
              to be carried subject to all the terms and conditions hereof from the Place of Receipt or Port of Loading to the
            </span>
          </div>
          <div style="position:absolute;left:342.72px;top:191.00px" class="declaration_M">
            <span class="declaration_M">Port of Discharge or Place of Delivery, as applicable. Delivery of the Goods to the Carrier for Carriage</span>
          </div>
          <div style="position:absolute;left:342.72px;top:196.69px" class="declaration_M">
            <span class="declaration_M">hereunder constitutes acceptance by the Merchant (as defined  hereinafter) (i) of all the terms and conditions,</span>
          </div>
          <div style="position:absolute;left:342.72px;top:202.38px" class="declaration_M">
            <span class="declaration_M">whether printed, stamped or otherwise incorporated on this side and on the reverse side of this Bill of lading</span>
          </div>
          <div style="position:absolute;left:342.72px;top:208.06px" class="declaration_M">
            <span class="declaration_M">and the terms and conditions of the Carrier's applicable tariff(s) as if they were all signed by the Merchant,</span>
          </div>
          <div style="position:absolute;left:342.72px;top:213.75px" class="declaration_M">
            <span class="declaration_M">and (ii) that any prior representations and/or agreements for or in  connection with Carriage of the Goods are</span>
          </div>
          <div style="position:absolute;left:342.72px;top:219.44px" class="declaration_M">
            <span class="declaration_M">superseded by this Bill of Lading. If this is a negotiable (To Order/of) Bill of Lading, one original Bill of Lading,</span>
          </div>
          <div style="position:absolute;left:342.72px;top:225.13px" class="declaration_M">
            <span class="declaration_M">duly endorsed must be surrendered by the Merchant to the Carrier (together with any outstanding Freight) in</span>
          </div>
          <div style="position:absolute;left:342.72px;top:230.82px" class="declaration_M">
            <span class="declaration_M">exchange for the Goods or a Delivery Order or the pin codes for any applicable Electronic Release System.</span>
          </div>
          <div style="position:absolute;left:342.72px;top:236.50px" class="declaration_M">
            <span class="declaration_M">If this is a non-negotiable (straight) Bill of Lading, or where issued as a Sea Waybill, the Carrier shall deliver</span>
          </div>
          <div style="position:absolute;left:342.72px;top:242.19px" class="declaration_M">
            <span class="declaration_M">the Goods or issue a Delivery Order or the pin codes for any applicable Electronic Release System (after</span>
          </div>
          <div style="position:absolute;left:342.72px;top:247.88px" class="declaration_M">
            <span class="declaration_M">payment of outstanding Freight) to the named consignee against the surrender of one original Bill of Lading,</span>
          </div>
          <div style="position:absolute;left:342.72px;top:253.57px" class="declaration_M">
            <span class="declaration_M">or in the case of a Sea Waybill, on production of such reasonable proof of identify as may be required by the</span>
          </div>
          <div style="position:absolute;left:342.72px;top:259.26px" class="declaration_M">
            <span class="declaration_M">Carrier, or in accordance with the national law at the Port of Discharge or Place of Delivery as applicable. IN</span>
          </div>
          <div style="position:absolute;left:342.72px;top:264.94px" class="declaration_M">
            <span class="declaration_M">WITNESS WHEREOF the Carrier or their Agent has signed the number of Bills of Lading stated at the top,</span>
          </div>
          <div style="position:absolute;left:342.72px;top:270.63px" class="declaration_M">
            <span class="declaration_M">all of this tenor and date, and whenever one original Bill of Lading has been surrendered all other Bills of</span>
          </div>
          <div style="position:absolute;left:342.72px;top:276.32px" class="declaration_M">
            <span class="declaration_M">Lading shall be void.</span>
          </div>
        </div>
    
        <div id='info_2'>
          <div style="position:absolute;left:31.75px;top:197.12px" class="tittle_M">
            <span class="tittle_M">NOTIFY PARTY (It is agreed that no responsibility shall be attached to  the Carrier or its Agents for failure to notify)</span>
          </div>
          <div style="position:absolute;left:30.02px;top:209.10px" class="content_L">
            <span id="notify" class="content_L" style="white-space: pre-line">{{ data.doc.notify }}</span>
          </div>
    
          <div style="position:absolute;left:32.04px;top:266.80px" class="tittle_M">PRE-CARRIAGE BY</div>
    
          <div style="position:absolute;left:187.78px;top:266.80px" class="tittle_M">PLACE OF RECEIPT</div>
          <div style="position:absolute;left:185.76px;top:273.91px" class="content_L">
            <span id="place_of_receipt" class="content_L" style="white-space: pre-line">{{ data.doc.place_of_receipt }}</span>
          </div>
    
          <div style="position:absolute;left:32.04px;top:287.97px" class="tittle_M">OCEAN VESSEL VOYAGE NO. FLAG</div>
          <div style="position:absolute;left:29.95px;top:294.45px" class="content_L">
            <span id="vessel" class="content_L" style="white-space: pre-line">{{ data.doc.vessel }} {{data.doc.voyage}}</span>
          </div>
    
          <div style="position:absolute;left:187.78px;top:287.97px" class="tittle_M">PORT OF LOADING</div>
          <div style="position:absolute;left:185.76px;top:296.54px" class="content_L">
            <span id="port_of_loading" class="content_L" style="white-space: pre-line">{{data.doc.port_of_loading}}</span>
          </div>
    
          <div style="position:absolute;left:343.94px;top:287.97px" class="tittle_M">FINAL DESTINATION(for the Merchant's reference only)</div>
          <div style="position:absolute;left:343.94px;top:297.97px;" class="content_L">
            <span id="final_destination" class="content_L" style="white-space: pre-line">{{data.doc.final_destination}}</span>
          </div>
    
          <div style="position:absolute;left:32.54px;top:312.74px" class="tittle_M">PORT OF DISCHARGE</div>
          <div style="position:absolute;left:29.81px;top:321.65px" class="content_L">
            <span id="port_of_discharge" class="content_L" style="white-space: pre-line">{{data.doc.port_of_discharge}}</span>
          </div>
    
          <div style="position:absolute;left:187.78px;top:312.74px" class="tittle_M">PLACE OF DELIVERY</div>
          <div style="position:absolute;left:185.76px;top:321.94px" class="content_L">
            <span id="place_of_delivery" class="content_L" style="white-space: pre-line">{{data.doc.place_of_delivery}}</span>
          </div>
          
          <div style="position:absolute;left:341.93px;top:312.74px" class="tittle_M">TYPE OF MOVEMENT(IF MIXED, USE DESCRIPTION OF PACKAGES AND GOODS FIELD)</div>
          <div style="position:absolute;left:341.93px;top:321px" class="content_L">FCL / FCL</div>
          <div style="position:absolute;left:511.06px;top:321px" class="content_L">
            {% if data.doc.rd_terms %}{{ data.doc.rd_terms }}{% else %} CY / CY {% endif %}
          </div>
        </div>
    
        <div class='title'>
          <div style="position:absolute;left:31.97px;top:336.78px" class="tittle_M">
            <span class="tittle_M">(CHECK "HM" COLUMN IF HAZARDOUS MATERIAL)</span>
          </div>
          <div style="position:absolute;left:190px;top:336.06px" class="declaration_L">
            <span class="declaration_L">PARTICULARS DECLARED BY SHIPPER BUT NOT ACKNOWLEDGED BY THE CARRIER</span>
          </div>
          
          <div style="position:absolute;left:57.74px;top:345.79px" class="tittle_S">
            <span class="tittle_S">CNTR. NOS. W/SEAL NOS.</span>
          </div>
          <div style="position:absolute;left:63.79px;top:350.34px" class="tittle_S">
            <span class="tittle_S">MARKS & NUMBERS</span>
          </div>
    
          <div style="position:absolute;left:160.99px;top:344.07px" class="tittle_S">
            <span class="tittle_S">QUANTITY</span>
          </div>
          <div style="position:absolute;left:155.16px;top:348.60px" class="tittle_S">
            <span class="tittle_S">(FOR CUSTOMS</span>
          </div>
          <div style="position:absolute;left:149.47px;top:353.14px" class="tittle_S">
            <span class="tittle_S">DECLARATION ONLY)</span>
          </div>
    
          <div style="position:absolute;left:205.34px;top:345.79px" class="tittle_S">
            <span class="tittle_S">H</span>
          </div>
          <div style="position:absolute;left:205.06px;top:350.34px" class="tittle_S">
            <span class="tittle_S">M</span>
          </div>
          <div style="position:absolute;left:292.03px;top:351.03px" class="tittle_S">
            <span class="tittle_S">DESCRIPTION OF GOODS</span>
          </div>
          <div style="position:absolute;left:453.82px;top:351.53px" class="tittle_S">
            <span class="tittle_S">GROSS WEIGHT</span>
          </div>
          <div style="position:absolute;left:520.92px;top:350.95px" class="tittle_S">
            <span class="tittle_S">GROSS MEASUREMENT</span>
          </div>
        </div>
    
        <div id="cont_details_description_1" class="content_M">
          <div class="containers_detail">
            {% if data.doc.containerdetailes.all|length > 0 %}
              {% for cont in data.doc.containerdetailes.all %}
                {{ cont.container_no }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/{{ cont.seal_no }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cont.packages }}&nbsp;&nbsp;&nbsp;&nbsp;/FCL&nbsp;/&nbsp;FCL/{{ cont.container_type }} /{{ cont.container_weight }}/{{ cont.container_measurement }}<br>
              {% endfor %}
            {% endif %}
          </div>
          
          <div class="dash_split content_S">
            ------------------------------------------------------------------------------------------------------------------
          </div>
    
          <div class="description">
            <div id='total_mark' class="content_M descrip_1">{{data.doc.total_mark}}
              <!--THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS
              THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS,
              THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS,
              THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS,THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS,THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS,
              THIS IS A LOT OF MARKS, THIS IS A LOT OF MARKS, -->
            </div>
            <div id="total_packages" class="content_M descrip_2">
              {{ data.doc.total_packages }}
              <!-- 100.512 CTNS -->
            </div>
            <div id="description_of_goods" class="content_M descrip_3">{{ data.description_of_goods }}<!-- FURNITURE
                HS CODE: 94016100
                PO NO.: P07CK30, P07CK32, P07CK44, P0
                7CK45, P07CK50, P07CK21, P07CK22, P07
                CK24, P07CK28, P07CK53
                CUSTOMER PO NO.: C822303, C822319,
                C822346, C822354, C838539, C821886, C8
                22230, C822283, C822295, C961970
                SHIPPER HEREBY CERTIFY THAT
                SHIPMENT
                CONTAINS NO SOLID WOOD PACKING
                MATERIALS -->
            </div>
    
            <div id="total_gross_weight" class="content_M descrip_4">
              {{ data.total_weight }}
              <!-- 26,517.000 -->
            </div>
            <div id="total_measurement" class="content_M descrip_5">
              {{ data.total_measurement }}
            </div>
    
          </div>
    
          <div class="dash_split content_S">
            ------------------------------------------------------------------------------------------------------------------
          </div>
    
          <div class="payment_remarks">
            <div id="payment_type" class="content_L descrip_1">{% if data.payment %}OCEAN {{data.payment}}{% endif %}</div>
          </div>
        </div>
    
        <div style="position:absolute;left:200.66px;top:521.03px" class="content_L pages_sign">
          ** TO BE CONTINUED ON ATTACHED LIST **
        </div>
    
        <div id="payment_detail">
          <div style="position:absolute;left:29.09px;top:536.22px" class="tittle_red">
            <span class="tittle_red">Declared Cargo Value US $</span>
          </div>
          <div style="position:absolute;left:191.38px;top:536.22px" class="tittle_red">
            <span class="tittle_red">. If Merchant enters a value, Carrier's limitation of liability shall not apply and the ad valorem rate will be charged.
            </span>
          </div>
          <div style="position:absolute;left:30.10px;top:545.30px" class="tittle_M">
            <span class="tittle_M">FREIGHT & CHARGES PAYABLE AT / BY:</span>
          </div>
          <div style="position:absolute;left:232.20px;top:545.30px" class="tittle_M">
            <span class="tittle_M">SERVICE CONTRACT NO.</span>
          </div>
          <div style="position:absolute;left:306.94px;top:545.30px" class="tittle_M">
            <span class="tittle_M">DOC FORM NO.</span>
          </div>
          <div style="position:absolute;left:357.70px;top:545.30px" class="tittle_M">
            <span class="tittle_M">COMMODITY CODE</span>
          </div>
          <div style="position:absolute;left:413.93px;top:545.30px" class="tittle_M">
            <span class="tittle_M">EXCHANGE RATE</span>
          </div>
          <div style="position:absolute;left:36.29px;top:563.87px" class="declaration_L">
            <span class="declaration_L">CODE</span>
          </div>
          <div style="position:absolute;left:80.21px;top:563.87px" class="declaration_L">
            <span class="declaration_L">TARIFF ITEM</span>
          </div>
          <div style="position:absolute;left:142.85px;top:563.87px" class="declaration_L">
            <span class="declaration_L">FREIGHTED AS</span>
          </div>
          <div style="position:absolute;left:209.38px;top:563.87px" class="declaration_L">
            <span class="declaration_L">RATE</span>
          </div>
          <div style="position:absolute;left:269.86px;top:563.87px" class="declaration_L">
            <span class="declaration_L">PREPAID</span>
          </div>
          <div style="position:absolute;left:354.46px;top:563.87px" class="declaration_L">
            <span class="declaration_L">COLLECT</span>
          </div>
          <div style="position:absolute;left:490.97px;top:600.66px" class="tittle_M">
            <span class="tittle_M">DATE CARGO RECEIVED</span>
          </div>
          <div style="position:absolute;left:490.97px;top:623.06px" class="tittle_M">
            <span class="tittle_M">DATE LADEN ON BOARD</span>
          </div>
          <div style="position:absolute;left:490.97px;top:644.22px" class="tittle_M">
            <span class="tittle_M">PLACE OF BILL(S) ISSUE</span>
          </div>
          <div style="position:absolute;left:490.97px;top:666.04px" class="tittle_M">
            <span class="tittle_M">DATED</span>
          </div>
        </div>
    
        <div id="footer_1">
          <div style="position:absolute;left:28.08px;top:686.70px" class="declaration_L">
            <span class="declaration_L">The printed terms and conditions on this Bill are available at its</span>
          </div>
          <div style="position:absolute;left:28.08px;top:693.33px" class="declaration_L">
            website at <A HREF="http://www.one-line.com/">www.one-line.com</A>
          </div>
          <div style="position:absolute;left:411.98px;top:686.70px" class="tittle_M">SIGNED BY:
          </div>
          <div style="position:absolute;left:499.39px;top:704.85px" class="declaration_M">, as agent for and on behalf of
          </div>
        </div>
      </div>
    
      <div class='layout' style="top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
          <img src="{{ url_for('static', filename='img/background2.jpg') }}"  width=595 height=841>
        </div>
        
        <div id="header_2" class="tittle">
          <div style="position:absolute;left:510.19px;top:29.42px" class="page_no">PAGE: 2 OF 2
          </div>
          <div style="position:absolute;left:199.51px;top:33.66px" class="tittle_L">
            COPY NON NEGOTIABLE
          </div>
        </div>
    
        <div id="sub_header_2" class="content_L">
          <div style="position:absolute;left:37.22px;top:55.05px">VESSEL VOYAGE: {{ data.doc.vessel }} {{data.doc.voyage}}
          </div>
          <div style="position:absolute;left:400.02px;top:55.05px">B/L NO.: {% if data.doc.bkg_no %}ONEY{{ data.doc.bkg_no }}){% endif %}
          </div>
        </div>
        
        <div id="keys_2">
          <div style="position:absolute;left:57.02px;top:68.17px" class="tittle_S">
            <span class="tittle_S">CNTR NOS. W/SEAL NOS.</span>
          </div>
          <div style="position:absolute;left:62.42px;top:73.71px" class="tittle_S">
            <span class="tittle_S">MARKS & NUMBERS</span>
          </div>
          
          <div style="position:absolute;left:158.40px;top:65.52px" class="tittle_S">
            <span class="tittle_S">QUANTITY</span>
          </div>
          <div style="position:absolute;left:152.57px;top:71.06px" class="tittle_S">
            <span class="tittle_S">(FOR CUSTOMS</span>
          </div>
          <div style="position:absolute;left:146.88px;top:76.61px" class="tittle_S">
            <span class="tittle_S">DECLARATION ONLY)</span>
          </div>
    
          <div style="position:absolute;left:204.80px;top:68.17px" class="tittle_S">
            <span class="tittle_S">H</span>
          </div>
          <div style="position:absolute;left:204.51px;top:73.71px" class="tittle_S">
            <span class="tittle_S">M</span>
          </div>
    
          <div style="position:absolute;left:296.96px;top:72px" class="tittle_S">
            <span class="tittle_S">DESCRIPTION OF GOODS</span>
          </div>
          <div style="position:absolute;left:453.29px;top:72px" class="tittle_S">
            <span class="tittle_S">GROSS WEIGHT</span>
          </div>
          <div style="position:absolute;left:533.53px;top:72px" class="tittle_S">
            <span class="tittle_S">MEASUREMENT</span>
          </div>
        </div>
    
        <div id="cont_details_description_2" class="content_M">
          <div class="dash_split content_S">
            ------------------------------------------------------------------------------------------------------------------
          </div>
        </div>
    
        <div id="footer_2">
          <div style="position:absolute;left:411.98px;top:726.70px" class="tittle_M">SIGNED BY:
          </div>
          <div style="position:absolute;left:499.39px;top:754.85px" class="declaration_M">, as agent for and on behalf of
          </div>
        </div>
    
      </div>
      <div id="doc_id" hidden>19</div>
    
      <!-- ################### Import JS ################### -->
      <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
      <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    
        <!-- x-editable (bootstrap version) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    
        <!-- toastr notification -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>
    
      <!-- CSRF -->
      <script src="{{ url_for('static', filename='js/doc_template.js') }}"></script>
      <script src="{{ url_for('static', filename='js/ajax_csrf.js') }}" ></script>
      <script type="text/javascript">
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
      </script>
    </body>
    
    </html>