#submit-btn {
	border: 1px solid #ccc;
	padding: 6px 8px;
	cursor: pointer;
	border-radius: 10px;
	margin: 30px 0px 0px 0px;
	z-index: 10;
	position: fixed;
	color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.15);
}

#submit-btn:hover {
	border: 1px solid #ccc;
	padding: 6px 8px;
	cursor: pointer;
	border-radius: 10px;
	margin: 30px 0px 0px 0px;
	z-index: 10;
	position: fixed;
	color: rgba(0, 0, 0, 1);
	background: rgba(255, 255, 255, 1);

}

/* div.layout div:not(.flexible){
	position:absolute
}

div.flexible{
	position: relative;
} */

.tittle_red {
	font-family: Arial, serif;
	font-size: 6.0px;
	color: rgb(255, 0, 0);
}

.tittle_S {
	font-family: Arial, serif;
	font-size: 4.0px;
	color: rgb(0, 0, 255);
}

.tittle_M {
	font-family: Arial, serif;
	font-size: 5.0px;
	color: rgb(0, 0, 255);
}

.tittle_L {
	font-family: Courier New, serif;
	font-size: 14.0px;
	color: rgb(0, 0, 255);
	font-weight: bold;
}

.page_no {
	font-family: Courier New, serif;
	font-size: 6.0px;
	font-weight: bold;
}

.bill_type {
	font-family: Courier New, serif;
	font-size: 11.0px;
	font-weight: bold;
}

.content_S {
	font-family: Courier New, serif;
	font-size: 8.1px;
	line-height: 1.0;
}

.content_M {
	font-family: Courier New, serif;
	font-size: 10px;
	line-height: 1.0;
}

.content_L {
	font-family: Courier New, serif;
	font-size: 10.0px;
	/* white-space: pre-line; */
}

.declaration_M {
	font-family: Arial, serif;
	font-size: 5.1px;
	color: rgb(0, 0, 255);
}

.declaration_L {
	font-family: Arial, serif;
	font-size: 6.0px;
	color: rgb(0, 0, 255);
}


/* ################################################################## */

#bkg_no {
	/* font-size: 1px;
	border: 1px solid transparent; */
	height: 15px;
	width: 120px;
	display: table-cell;
	line-height: initial;
}

#bl_no {
	/* font-size: 1px;
	border: 1px solid transparent; */
	height: 15px;
	width: 120px;
	display: table-cell;
	line-height: initial;
}

#shipper {
	font-size: 1px;
	border: 1px solid transparent;
	height: 60px;
	width: 300px;
	display: table-cell;
	line-height: initial;
}

#consignee {
	font-size: 1px;
	border: 1px solid transparent;
	height: 55px;
	width: 306px;
	display: table-cell;
	line-height: initial;
}

#notify {
	font-size: 1px;
	border: 1px solid transparent;
	height: 57px;
	width: 300px;
	display: table-cell;
	line-height: initial;
}

#forwarding {
	font-size: 1px;
	border: 1px solid transparent;
	height: 33px;
	width: 300px;
	display: table-cell;
	line-height: initial;
}

#place_of_receipt {
	border: 1px solid transparent;
	font-size: 1px;
	height: 12px;
	width: 150px;
	display: table-cell;
	line-height: initial;
}

#vessel {
	font-size: 1px;
	border: 1px solid transparent;
	height: 12px;
	width: 150px;
	display: table-cell;
	line-height: initial;
}

#port_of_loading {
	font-size: 1px;
	border: 1px solid transparent;
	height: 12px;
	width: 150px;
	display: table-cell;
	line-height: initial;
}

#port_of_discharge {
	font-size: 1px;
	border: 1px solid transparent;
	height: 12px;
	width: 150px;
	display: table-cell;
	line-height: initial;
}

#place_of_delivery {
	font-size: 1px;
	border: 1px solid transparent;
	height: 12px;
	width: 150px;
	display: table-cell;
	line-height: initial;
}

#marks {
	font-size: 1px;
	border: 1px solid transparent;
	height: 150px;
	width: 110px;
	display: table-cell;
	/* line-height: initial; */
}

#payment {
	font-size: 1px;
	border: 1px solid transparent;
	height: 12px;
	width: 90px;
	display: table-cell;
	line-height: initial;
}

#place_of_issue {
	font-size: 1px;
	border: 1px solid transparent;
	height: 13px;
	width: 110px;
	display: table-cell;
	line-height: initial;
}

#etd_date_laden_onboard {
	font-size: 1px;
	border: 1px solid transparent;
	height: 13px;
	width: 110px;
	display: table-cell;
	line-height: initial;
}

#freight_payable_at {
	font-size: 1px;
	border: 1px solid transparent;
	height: 13px;
	width: 80px;
	display: table-cell;
	line-height: initial;
}

#original_requirements {
	font-size: 1px;
	border: 1px solid transparent;
	height: 20px;
	width: 100px;
	display: table-cell;
	line-height: initial;
}

/* span.emptyclass {
	height: 10px !important;
	width: 70px !important;
	border-bottom: 1px dashed #428bca !important;
} */

/* ################################# */
img#logo {
	position: absolute;
	left: 30px;
	top: 20px;
	width: 70px
}

div.layout {
	position: absolute;
	zoom: 170%;
	left: 35px;
	top: 0px;
	width: 596px;
	height: 843px;
	border-style: outset;
}

#cont_details_description_1 {
  /* border: 1px red solid; */
  position: absolute;
  left: 27.22px;
  top: 361.54px;
  width: 555px;
  height: 161px;
}

.description, .payment_remarks {
	display: -webkit-inline-box;
}

.description div, .payment_remarks div {
  position: relative;
  height: fit-content;
}

.descrip_1 {
  left: 3.15px;
  width: 113px;
  white-space: pre-line;
  word-break: break-word;
}

.descrip_2 {
	left: 3.15px;
  width: 58px;
  text-align: right;
}

.descrip_3 {
  left: 14.15px;
  width: 215px;
  white-space: pre-line;
  word-break: break-word;
}

.descrip_4 {
  left: 16.15px;
  width: 80px;
  text-align: right;
}

.descrip_5 {
  left: 16.15px;
  width: 73px;
  text-align: right;
}

#cont_details_description_2 {
  /* border: 1px red solid; */
  position: absolute;
  left: 27.22px;
  top: 87px;
  width: 555px;
  height: 635px;
}